<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kosmo.today.mapper.CompleteMapper">

	<resultMap id="Complete" type="edu.kosmo.today.vo.CompleteVO">
		<result property="oscnum" column="oscnum" />
		<result property="oscpayid" column="oscpayid" />
		<result property="oscimpid" column="oscimpid" />
		<result property="mnum" column="mnum" />

	</resultMap>


	<insert id="insertcomplete">
		
		insert into ordersuccess (oscnum,oscpayid,oscimpid,mnum) values (odrsuc_seq.nextval,#{oscpayid},#{oscimpid},#{mnum})
		
	</insert>

</mapper>
