<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- namespace는 패키지 명 + 인터페이스명과 맞춰줘야한다. -->
<mapper namespace="edu.kosmo.today.mapper.MemberMapper">
  			
   <select id="getList" resultType="edu.kosmo.today.vo.MemberVO">
   <![CDATA[
      select * from member,authority where member.mid = authority.mid
   ]]>
   </select> 
   

   <!--회원 목록 상세보기  -->
   <select id="read" resultType="edu.kosmo.today.vo.MemberVO">
	<![CDATA[
		select * from member,authority where member.mid = authority.mid and mnum = #{mnum}
	]]>
	</select>
	
	<delete id="delete" >
	<![CDATA[
		delete from member where mnum = #{mnum}
	]]>
	</delete>
	

	<select id="getTotalCount" resultType = "int">
	<![CDATA[
		select count(*) from member
	]]>
	</select>
	
	<select id="getListPage" resultType = "edu.kosmo.today.vo.MemberVO">
	<![CDATA[
 		          SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                  select mnum , memail, mnickname, auth from member,authority where member.mid = authority.mid
             ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         ) WHERE RNUM > (#{pageNum}-1) * #{amount}
			
	]]>
	</select>
	
	<!--권한 수정하기 -->
	<update id="update">
	<![CDATA[
		update authority set auth = #{auth} where mid = #{mid}
	]]>
	</update>
	
	<!-- 쪽지 작성 -->
	 <insert id="nboardinsert" >
	<![CDATA[
		 insert into boardlist (bid, bcontent, mnum, tnum) values (board_seq.nextval, #{bcontent}, #{mnum}, 4)	
	]]>
	</insert>
	
	
	
	
</mapper>