<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kosmo.today.mapper.OrderMapper">

	<resultMap id="OrderList" type="edu.kosmo.today.vo.OrderVO">
		<result property="ordernum" column="ordernum" />
		<result property="mnum" column="mnum" />
		<result property="orderdate" column="orderdate" />
		<result property="payid" column="payid" />
		<result property="tknum" column="tknum" />
		<result property="cost" column="cost" />
		<result property="startdate" column="startdate" />
		<result property="tdate" column="tdate" />
		<result property="tname" column="tname" />
		<result property="gnum" column="gnum" />
		<result property="gname" column="gname" />
	</resultMap>


	<select id="getTicketList" resultMap="OrderList">
	<![CDATA[
		SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                 SELECT orderlist.ordernum, orderlist.mnum, orderlist.orderdate, orderlist.payid, 
                 orderdetail.tknum, orderdetail.cost, orderdetail.startdate,
                 orderdetail.tdate, ticket.tname, ticket.gnum, gympage.gname 
                 FROM orderlist,orderdetail,ticket,gympage
		WHERE orderlist.ordernum= orderdetail.ordernum and
		orderdetail.tknum=ticket.tknum	and ticket.gnum=gympage.gnum and orderlist.mnum = #{mnum}
             ) A WHERE ROWNUM <= #{criteria.pagenum} * #{criteria.amount}
         ) WHERE RNUM > (#{criteria.pagenum}-1) * #{criteria.amount}
	]]>
	</select>

	<select id="getTotal" resultType="_int">
	<![CDATA[
		select count(*) from orderlist,orderdetail where orderlist.ordernum = orderdetail.ordernum 
		and orderlist.mnum = #{mnum}
	]]>
	</select>

	<select id="getMemberNum" resultType="_int">

		select * from member where
		mid = #{mid}

	</select>

	<insert id="inserReview">
		insert all
		into boardlist (bid,bcontent,mnum,tnum)
		values (BOARD_SEQ.nextval,#{bcontent},#{mnum},5)
		into gymreview values
		(#{grstar},#{gnum},BOARD_SEQ.currval,#{ordernum})
		select * from dual
	</insert>

	<select id="checkReview" resultType="_int">
		select count(gymreview.bid)
		from
		gymreview ,orderdetail , ticket WHERE
		gymreview.ordernum=orderdetail.ordernum and orderdetail.tknum =
		ticket.tknum and ticket.gnum=gymreview.gnum
		and gymreview.ordernum =
		#{ordernum} and orderdetail.tknum = #{tknum}
	</select>

	<insert id="requestPayback">
	<![CDATA[
		insert into boardlist (bid,bcontent,mnum,tnum) values
		(BOARD_SEQ.nextval,#{ment},#{mnum},5)
	]]>
	</insert>

	<select id="checkRequest" resultType="_int">
	<![CDATA[
		SELECT  count(*)  FROM boardlist WHERE 
		mnum = #{mnum} and bcontent like #{ment1} and bcontent LIKE #{ment2}
	]]>
	</select>

	<select id="requetList" resultType="edu.kosmo.today.vo.FaqVO">
	<![CDATA[
		SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                 select b.bid,b.bcontent,b.bdate,b.mnum,b.tnum,t.tname
                 
                 from boardlist b, boardtype t where b.tnum = t.tnum and b.tnum = 5 or b.tnum = 6
             ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         ) WHERE RNUM > (#{pageNum}-1) * #{amount}
	]]>
	</select>

	<select id="totalRequet" resultType="_int">
		<![CDATA[
	
		select count(*) from
		boardlist where tnum = 5 or tnum = 6
		]]>
	</select>


	<resultMap id="Complete" type="edu.kosmo.today.vo.CompleteVO">
		<result property="oscnum" column="oscnum" />
		<result property="oscpayid" column="oscpayid" />
		<result property="oscimpid" column="oscimpid" />
		<result property="mnum" column="mnum" />

	</resultMap>


	<insert id="insertcomplete">
		<![CDATA[
		insert into orderlist (ordernum,mnum,payid) values
		(order_seq.nextval,#{mnum},#{oscpayid})
		]]>
	</insert>

</mapper>
