<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kosmo.today.mapper.OrderMapper">

	<resultMap id="OrderList" type="edu.kosmo.today.vo.OrderVO">
		<result property="ordernum" column="ordernum" />
		<result property="mnum" column="mnum" />
		<result property="orderdate" column="orderdate" />
		<result property="tnum" column="tnum" />
		<result property="tname" column="tname" />
		<result property="cost" column="cost" />
		<result property="gnum" column="gnum" />
		<result property="gname" column="gname" />
	</resultMap>

	<select id="getTicketList" resultMap="OrderList">

		select ordernum,mnum,orderdate,tnum,tname,cost,gnum,gname from
		orderlist,orderdetail,ticket,gympage
		where orderlist.ordernum =
		orderdetail.ordernum and orderdetail.tnum = ticket.tnum and ticket.gnum = gympage.gnum
		orderlist.mnum = #{mnum}

	</select>

	<select id="getMemberNum" resultType="_int">

		select * from member where memail = #{memail}

	</select>

</mapper>
