<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kosmo.today.mapper.UserMapper">

	<resultMap id="userMap" type="edu.kosmo.today.vo.UserVO">
		<result property="memail" column="memail" />
		<result property="mpassword" column="mpassword" />
		<result property="mnickname" column="mnickname" />
		<result property="mphone" column="mphone" />
		<result property="mbirth" column="mbirth" />
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>

	<resultMap id="authMap" type="edu.kosmo.today.vo.AuthVO">
		<result property="memail" column="memail" />
		<result property="auth" column="auth" />
	</resultMap>

	<select id="getUser" resultMap="userMap">
		select * from member , authority where member.memail = authority.memail and member.memail = #{memail}
	</select>

</mapper>
