<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kosmo.today.mapper.WishMapper">

	<resultMap id="wishList" type="edu.kosmo.today.vo.WishVO">
		<result property="wishnum" column="wishnum" />
		<result property="mnum" column="mnum" />
		<result property="tnum" column="tnum" />
		<result property="wdate" column="wdate" />
		<result property="gname" column="gname" />
		<result property="tname" column="tname" />
		<result property="tcost" column="tcost" />
	</resultMap>
	<select id="getWishList" resultMap="wishList">
		
		select * from wish, ticket,gympage 
		where wish.tnum = ticket.tnum and ticket.gnum = gympage.gnum and wish.mnum = #{mnum}
		
	</select>
	
	<select id="getMemberNum" resultType="_int">
		
		select * from member where mid = #{mid} 
		
	</select>
	
	<delete id="deleteWishTicket" >
		
	delete from wish where wishnum =#{wishnum}
		
	</delete>
	
	<delete id="deleteWishList" >
		
	delete from wish where mnum =#{mnum}
		
	</delete>
	
	<select id="priceList" resultType="_int">

		SELECT	tcost	FROM wish,ticket WHERE wish.tnum = ticket.tnum and wish.mnum = #{mnum}

	</select>
	
	<update id="updateWishList">
		update wish set wdate = #{wdate} where wishnum = #{wishnum}
	</update>

	<insert id="insertWish">
		
		insert into wish (wishnum,mnum,tnum,wdate) values (wish_seq.nextval,#{mnum},#{tnum},1)
		
	</insert>
	
	<select id="checkWish" resultType="_int">
		
		select count(*) from wish where mnum = #{mnum} and tnum = #{tnum}
		 
	</select>
	
	<update id="updateWish">
		update wish set wdate = wdate+1 where mnum = #{mnum} and tnum = #{tnum}
	</update>

</mapper>
